
h1{
    text-align : center;

}
h3{
   
    text-align : center;
    color:black;
}
h4{
    text-align : center;
}
p{
    color : #A52A2A;
    text-align : center;
    color : red;
    line-height: 30px;
}
a{
    color : green;
    text-decoration: none;
}
button{
    background-color: white;
    color : blueviolet;
}
textarea{
     color : #000;
}
